@tailwind base;
@tailwind components;
@tailwind utilities;



.oswald{
  
  font-family: "Oswald", sans-serif;
  
}

.Hero-bg{
  background-image: url('/Hero-Bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Navbutton{

  background-image: url('/NavButton-bg.svg');

}

.Menu-item{

  background-image: url('/Menu-item.svg');

}